*{
    box-sizing: border-box;
    color: #ffffff;
    
}
body{
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    overflow: hidden;
}


/* navbar section  */

.navbar{
   width: 100vw;
   height: 60px;
    background-color: #ee171f;
    /* position: fixed;  */
    margin-bottom: 10px;
    position: relative;
}
.navbar span {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.navbar span img{
    width: 100px;    
}
.navbar a{
    color: white;
    text-decoration: none;
    position: absolute;
    top: 15px;
    right: 25px;
    
    font-size: 18px;
}
.navbar a:hover{
    font-size: 20px;
}

main{
    height: 95%;
    width: 100%;
    /* border: 1px solid black; */
    overflow: hidden;
    /* overflow-x: hidden; */
}

/* Search Bar     */

#search-area{
    width: 100%;
    height: 13%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-area input{
    color: #000000;
    font-weight: 600;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 15px;
    /* border: 2px solid rgb(217, 68, 68); */
}

/* Hero cards */

#heros-container{
    width: 100%;
    height: 80%;
    /* border: 1px solid red; */
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}
.hero-box{
    width: 216px;
    height: 374px;
    background-color: rgb(0, 0, 0);
    /* margin-top: 15px; */
    z-index: 3;
    margin: 15px 15px;
}

.hero-name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    height: 45px;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #ffffff ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-box:hover{
    font-size: 20px;
    cursor: pointer;
}
.hero-image{
    width: 100%;
}


/* Hero Info Calender */


#hero-info{
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-232px,-250px);
    border-radius: 20px;
    /* width: 464px; */
    /* height: 550px; */
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: #ee171f;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    border: 2px solid white;

}
#close-info{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
#close-info:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#hero-name{
    border-bottom: 2px solid black;
    width: 100%;
    text-align: center;
    font-size: 20px;
}
#hero-image{
    width: 464px;
    height: 261px;
    background-color: rgb(0, 0, 0);
}

#hero-details{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: fit-content;
    overflow-y: scroll;
    scroll-behavior: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 190px;
    position: relative;
}
.sizing-details{
    height: 10px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hero-details::-webkit-scrollbar {
    width: 0px;
}

/* adding Favorite  */

#add-favorite{
    height: 24px;
    display: flex;
    align-items: center;
    font-family:  'Courier New', Courier, monospace;
    font-weight: 700;
}
#add-favorite i:hover{
    font-size: 25px;
   /* color: red; */
   cursor: pointer;
   z-index: 3;
}   


/* Footer Marrvel */

footer{
    position: fixed;
    bottom: 5px;
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
}
footer p a{
    color: white;
    font-size: 12px;
    align-self: center;
}

